.header {
    height: var(--header-heigt);
    background-color:#fafafa;
    border-bottom:3px solid black;
    margin: 0 7px;
    padding-bottom:2px;
}

.navbar {
    display: flex;
    justify-content: right;
}

.navlist {
    list-style: none;
    padding-left: 0;
    margin-top:4px;
    display:flex;
    align-items:center;
}

.navitem {
    margin: 0 8px;
    position: relative;
    min-height: 26px;
}

.navitem,
.navlink {
    display: inline-block;
    font-size: 1.4rem;
    color: var(--black-color);
    text-decoration: none;
    font-weight: 300;
}

.item-strong {
    font-weight: 600;
}

.item-separate::after {
    content: "";
    display: block;
    position: absolute;
    border-left: 1px solid black;
    height: 12px;
    right: -9px;
    top: 50%;
    transform: translateY(-50%); /*căn chỉnh tp theo trục Y*/
}

.navitem:hover,
.navlink:hover {
    cursor: pointer; /*trỏ chuột thay bằng bàn tay*/
    color:#959494;
}

.navicon {
    font-size: 1.6rem;
    margin: 4px;
}

.navitem,
.navlink {
    display: inline-flex;
    align-items: center;
}


/*Notify*/
.navnotify {
    position: absolute;
    top: 118%;
    right: 0;
    width: 404px;
    border: 1px solid whitesmoke;
    background-color:whitesmoke;
    cursor: default; 
    transform-origin: top right; /*chỉ định nơi bắt đầu animation*/
    animation: notifygrowth ease .2s;
    display: none;
    z-index:90;
}

/*tạo một lớp giả làm cầu nối hover giữa tb và bảng tb*/
.navnotify::before {
    content: "";
    border-width: 20px 50px;
    border-style: solid;
    border-color: transparent transparent whitesmoke transparent;
    position: absolute;
    right: 0px;
    top: -30px;
}

.navhasnotify:hover .navnotify {
    display: block;
}

@keyframes notifygrowth {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.notihead {
    height: 40px;
    background-color:#fafafa;
}

.notihead h3 {
    color: var(--black-color);
    margin: 0 0 0 12px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 40px;
    user-select: none;
}

.notilist {
    padding-left: 0;
}
.notiitem {
    display: flex;
}

.notiitem:hover {
    background-color:#d6d5d5;
}

.notiviewed {
    background-color:rgb(212, 212, 212);
}

.notilink {
    display: flex;
    width: 100%;
    padding: 12px;
    text-decoration: none;
}
.notiinfo {    
    margin-left: 12px;
    width: 70%;
}
.notiimg {
    width: 30%;
}

.linkimg {
    width: 100%;
}

.notiname {
    display: block;
    color: var(--black-color);
    font-weight: 400;
    line-height: 1.8rem;
    margin-bottom: 4px;
    /*Chữ quá 2 hàng sẽ bị ẩn đi thay bằng ...*/
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.notidescribe {
    display: block;
    color: var(--text-color);
    font-size: 1.2rem;
    line-height: 1.6rem;
}

.notifoot {
    display: flex;
}

.notiall {
    text-decoration: none;
    color: var(--black-color);
    padding: 8px 0;
    width: 100%;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 400;
}

/* auth modal */

.mainform {
    width: 500px;
    background-color: rgb(235, 251, 251);
    border-radius: 5px;
}

.formcontainer {
    padding: 0 32px;
}

.mainheader {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mainheading {
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text-color);
}


.forminput {
    width: 90%;
    height: 40px;
    margin: 15px 5px 0 25px;
    padding: 0 12px;
    font-size: 1.4rem;
    border: 1px solid var(--border-color);
    border-radius: 3px;
}

.mainconfirm {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.mainpolicy {
   font-size: 1.3rem;
    line-height: 1.6rem;
    width: 80%;
}

.policylink {
    color: var(--primary-color);
    text-decoration: none;
    cursor: pointer;
}

.question {
    margin-top: 20px;
    font-size: 1.3rem;
    text-align: center;
}

.switch {
    text-decoration: none;
    font-weight: 500;
    color: var(--primary-color);
    cursor: pointer;
}

.mainsocials {
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.btnicon {
    width: 100%;
    margin-bottom: 15px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 25px;
}

.btn.btnicon i {
    margin-right: 10px;
    padding: 2px;
}

.btn.btnfacebook {
    background-color: #3A5A98;
    color: var(--white-color);
}

.btn.btngoogle {
    background-color: var(--white-color);
}

.btn:hover {
    background-color: rgba(0, 0, 0, 0.25);
}

.mainhelp {
    display: flex;
    justify-content: flex-end;
    margin: 15px 27px 0 0;
}

.helplink {
    font-size: 1.2rem;
    text-decoration: none;
    color: var(--primary-color);
}

.helpseparate {
    display: block;
    height: 15px;
    margin: 0 16px;
    border-left: 1px solid var(--border-color);
}

/* With Search */
.withsearch {
   height: var(--withsearch-height); 
   display: flex;
   align-items: center;
}

.headerlogo {
    width: 220px;
    display: flex;
}

.logoimg {
    width: 70px;
}

.logoname {
    font-size: 3rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: flex;
    align-items: center;
    text-align: center;
}
.headersearch {
    flex: 1;
    height: 40px;
    background-color: var(--white-color);
    border-radius: 2px;
}
/* With Search */
/* .withsearch {
    height: var(--withsearch-height); 
    display: flex;
    align-items: center;
 } */
 
 .headerlogo {
     width: 220px;
     display: flex;
 }
 
 .logoimg {
     width: 70px;
 }
 
 .logoname {
     font-size: 3rem;
     font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
     display: flex;
     align-items: center;
     text-align: center;
 }
 
 .headersearch {
     width: 65%;
     height: 40px;
     background-color: var(--white-color);
     border-radius: 2px;
     margin-left: 50px;
     display: flex;
 }
 
 .inputwrap {
     flex: 1;
     position: relative;
 }
 
 .searchinput {
     width: 100%;
     height: 100%;
     border: none;
     outline: none;
     font-size: 1.5rem;
     color: var(--text-color);
     padding: 0 12px;
     border-radius: 4px;
     background-color:#eaeaea;
 }
 
 .searchbtn {
     border: none;
     height: 40px;
     width: 60px;
     border-radius: 3px;
     margin: 0 2px 0 2px;
     outline: none;
 }
 
 .searchbtn:hover {
     background-color: #d6d5d5;
 }
 
 .searchicon {
     font-size: 1.6rem;
     color: var(--black-color);
 }
 
 .searchinput:focus ~ .searchhistory {
     display: block;
 }
 
 /* Search history */
 .searchhistory {
     position: absolute;
     top: calc(100% + 4px);
     left: 0;
     width: 100%;
     background-color: var(--white-color);
     border-radius: 3px;
     box-shadow: 0 1px 5px #999;
     display: none;
     overflow: hidden;
     z-index: 2;
 }
 
 .historyheading {
     margin: 8px 12px;
     font-size: 1.5rem;
     color: #999;
     font-weight: 300;
 }
 
 .historylist {
     padding-left: 0;
     list-style: none;
 }
 
 .historyitem {
     height: 38px;
     padding: 10px 12px;
 }
 
 .historyitem:hover {
    background-color:#d6d5d5;
 }
 
 .historyitem a {
     text-decoration: none;
     font-size: 1.4rem;
     color: var(--text-color);
 }

 /*design go to top*/
.Gototop{
    position:fixed;
    background-color:rgba(128, 128, 128, 0.404);
    right: 15px;
    bottom:10px;
    border:1px solid black;
    border-radius:30px;
    box-shadow:0 0 5px 0 rgb(0, 0, 0);
    display:none;
}
.fa-house{
    color:rgb(43, 43, 43);
    padding:10px;
    font-size:20px;
}
 /*end go to top*/

/*thanh tab*/
div.danhmuc{
    padding:20px 0px 10px 10px;
    margin: 0 15px 0 10px;
}
div.danhmuc ul{
    display:flex;
    list-style-type: none;
    align-items:center;
}
div.danhmuc ul li{
    padding-right:15px;
}
div.danhmuc ul li a{
    text-decoration:none;
    font-size:16px;
    color:var(--black-color);
    padding:10px 0 10px 0px;
    margin-left:5px;
    border-bottom: 1px solid rgb(196, 196, 196);
    position:relative;
}
div.danhmuc ul li a::after{
    content: "";
    height:2px;
    width:0;
    background: #ec7f71;
    position:absolute;
    bottom:0px;
    left:0;
}
div.danhmuc ul li a:hover{
    color: #ec7f71;
    transition: 0.5s;
}
div.danhmuc ul li a:hover::after{
    transition: all 0.5s ease-in-out;
    width:100%;
}
/*end thanh tab*/
div.background-content{
    padding-top:20px;
    display:flex;
    width:100%;
    height:600px;
}
.content-left{
    width:65%;
    margin-left:10px;
}
.slider{
    width:100%;
    height:500px;
    border-radius:3px;
    position:relative;
    overflow:hidden;
}
.slides{
    width:500%;
    height:100%;
    display:flex;
}
.slides input{
    display:none;
}
.slide{
    width:20%;
    transition: 2s;
}
.slide img{
    width:100%;
    height:100%;
    z-index:1;
}
div.info{
    position:absolute;
    font-size:15px;
    bottom:45px;
    width:100%;
    display:flex;
    justify-content:center;
}
div.info h2{
    width:auto;
    text-align:center;
    color:var(--white-color);
    padding: 15px 30px;
    background-color:rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 10px 0px rgb(80, 80, 80); /*left right blur scale color*/
}
/*css for manual slide navigation*/
.navigation-manual{
    position:absolute;
    width:100%;
    bottom:26px;
    display:flex;
    justify-content:center;
}
.manual-bnt{
    border: 2px solid #40D3DC;
    padding:5px;
    margin-right:10px;
    border-radius:5px;
    cursor: pointer;
    transition: 1s;
}
.manual-bnt:hover{
    background-color:#40D3DC;
}
#radio1:checked ~ .first{
    margin-left:0;
}
#radio2:checked ~ .first{
    margin-left:-20%;
}
#radio3:checked ~ .first{
    margin-left:-40%;
}
#radio4:checked ~ .first{
    margin-left:-60%;
}
/*css for automatic navigation*/
.navigation-auto{
    display:flex;
    width:100%;
    justify-content:center;
    bottom:26px;
    position:absolute;
}
.navigation-auto div{
    border: 2px solid #40D3DC;
    padding:5px;
    border-radius: 5px;
    margin-right:10px;
    transition: 1s;
}
#radio1:checked ~ .navigation-auto .auto-btn1{
    background-color:#40D3DC;
}
#radio2:checked ~ .navigation-auto .auto-btn2{
    background-color:#40D3DC;
}
#radio3:checked ~ .navigation-auto .auto-btn3{
    background-color:#40D3DC;
}
#radio4:checked ~ .navigation-auto .auto-btn4{
    background-color:#40D3DC;
}
div.content-right{
    width:30%;
    margin-left:40px;
}
.child-right{
    height:500px;
    overflow:auto;
    width:100%;
}
div.content-right div.baiviet{
    width:99%;
    padding:10px;
    margin-left:auto;
    margin-right:auto;
}
div.content-right div.baiviet:hover{
    background-color:rgba(0, 0, 0, 0.116);
    border-radius:5px;
    box-shadow: 0 0 10px 0 rgb(61, 61, 61);
}
div.content-right div.baiviet a{
    display:flex;
    text-decoration:none;
    color:unset;
}
div.content-right div.description-baiviet{
    width:50%;
    height:100%;
}
div.content-right div.baiviet .img{
    width:50%;
    height:100%;
    display:flex;
    margin-right:10px;
}
div.content-right div.baiviet .img img{
    height:150px;
    width:100%;
}
div.content-right div.description-baiviet h3{
    font-size:20px;
    width:100%;
    margin-bottom:10px;
}
div.content-right div.description-baiviet p{
    font-size:17px;
    width:100%;
    display: -webkit-box;
    -webkit-line-clamp: 3; /*số dòng xuất hiện trước khi ...*/
    -webkit-box-orient: vertical; /*điều hướng dọc*/
    overflow: hidden;
}
.background-random{
    padding-top:30px;
    height:max-content;
    margin-bottom:10px;
    display:flex;
}
.random-content{
    width:65%;
}
.child-random{
    margin-left:5px;
}
.random-content .content{
    display:flex;
    margin-bottom:5px;
    padding: 5px 5px 5px 5px;
    width:99%;
}
.random-content .content:hover{
    background-color:rgba(0, 0, 0, 0.116);
    border-radius:2px;
    box-shadow: 0 0 10px 0 rgb(61, 61, 61);
}
.random-content .content:hover h3{
    color:var(--text-color);
}
.random-content .content .img{
    width:30%;
    height:25%;
}
.random-content .content .img img{
    width:100%;
    height:170px;   
}
.description-content{
    display:flex;
    flex-direction:column;
    width:65%;
    margin-left:10px;
}
.description-content a{
    font-size:18px;
    margin-bottom:10px;
    text-decoration:none;
    color: var(--text-color);
}
.description-content .XemThem{
    color: rgb(38, 0, 255);
}
div.description-content > p{
    font-size:17px;
    width:100%;
    display: -webkit-box;
    -webkit-line-clamp: 3; /*số dòng xuất hiện trước khi ...*/
    -webkit-box-orient: vertical; /*điều hướng dọc*/
    overflow: hidden;
}
.img{
    overflow:hidden;
}
div.description-content h3:hover{
    color: var(--hover-color);
}
.XemThem:hover{
    color: var(--hover-color);
}
div.art{
    width:19%;
    height:max-content;
    margin:50px 0 0 130px;
    counter-reset:section; /*khoi tao bo dem css*/
}
div.art div{
    margin-bottom:10px;
}
div.art a{
    text-decoration:none;
    color:var(--text-color);
    counter-increment:section; /*khoi tao bo dem css tang*/
    padding-left: 60px;
    position: relative;
}
div.art a::before{
    content: counter(section); /*xuat gia tri bo dem css*/
    position: absolute;
    top: 3px;
    left: 0;
    font-size: 60px;
    font-family: serif;
    color: #cbcbcb;
}
div.art a p{
    margin-left:35px;
    margin-bottom:8px;
}
div.art a p.country{
    color:#d32339;
    font-size:13px;
}
.title-fcountry{
    margin: 5px 0;
    font-size:18px;
    font-weight:bolder;
}
.introduce-fcountry{
    font-size: 14px;
    line-height:20px;
    display: -webkit-box;
    -webkit-line-clamp: 6; /*số dòng xuất hiện trước khi ...*/
    -webkit-box-orient: vertical; /*điều hướng dọc*/
    overflow: hidden;
}
.background-chude{
    background-color:rgba(255,245,230,1);
}
.posts{
    padding-top:20px;
}
.posts .title{
    margin-left:50px;
}
.frame-posts{
    display:flex;
    flex-wrap:wrap;
    width:100%;
    justify-content: center;
}
.post{
    width:22%;
    min-width:250px;
    height:420px;
    background-color:rgb(255, 255, 255);
    display:flex;
    margin-right:15px;
    margin-bottom:20px;
}
.post a{
    padding:23px;
    text-decoration:none;
    color:var(--text-color);
}
.img-post img
{
    width:100%;
    height:200px;
}
.title-post{
    background-color:#000;
    color:var(--white-color);
    width:auto;
    padding: 2px;
}
.content-post h4{
    font-size:22px;
    margin:5px 0 5px 0;
}
.rating{
    display:flex;
    margin-bottom:5px;
}
.rating span{
    font-size:14px;
    font-weight:bolder;
}
.star{
    margin-left:10px;
    font-size:16px;
}
.content-post p{
    font-size:13px;
}
.thank{
    text-align:center;
    font-size:30px;
    padding-bottom:10px;
    margin-bottom:0;
}
/* Footer */
.footer {
    background-color:#fafafa;
}

.gridrow {
    display: flex;
}

.gridcol {
    padding-left: 5px;
    padding-right: 5px;
    width: 100%;
}

.gridcol h3 {
    font-size: 1.5rem;
    margin-top: 32px;
}

.footerlist {
    list-style: none;
}
.footeritem:first-child {
    margin-top: 15px;
}

.footeritem {
    margin: 10px 0;
}

.footeritem i {
    margin-right: 3px;
}

.itemlink {
    text-decoration: none;
    font-size: 1.2rem;
    color: var(--text-color);
}

.itemlink:hover {
    color: var(--hover-color);
}

.itemcontact {
    font-size: 1.2rem;
}
